name: Update TryHackMe Badge
on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight
  workflow_dispatch: # Allows you to run it manually

jobs:
  update-badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create directory if it doesn't exist
        run: mkdir -p images/badges
      
      - name: Fetch Badge
        run: |
          curl -o images/badges/thm-badge.png https://tryhackme-badges.s3.amazonaws.com/groot.here.png
      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add images/badges/thm-badge.png
          git commit -m "Update THM Badge" || exit 0
          git push
